.container {
  width: 100%;
  padding: 1rem;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    transparent
  );
  transition: 300ms;
  opacity: 1;
  visibility: visible;
  border-radius: 8px; /* Add border radius for modern and clean look */
}

.container.hide {
  opacity: 0;
  visibility: hidden;
}

.sliderContainer {
  margin-bottom: 1rem;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.leftButtonContainer {
  display: flex;
  align-items: center;
}

.rightButtonContainer {
  display: flex;
  align-items: center;
}

.leftButtonContainer > * + * {
  margin-left: 1rem;
}

.rightButtonContainer > * + * {
  margin-left: 1rem;
}

.container :global(.control-button) {
  width: 1.6rem;
  height: 1.6rem;
}
.autoplay-notification {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 5px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.autoplay-notification p {
  margin: 0 !important;
  padding-right: 10px !important;
}

.autoplay-notification button {
  background: none !important;
  border: none !important;
  color: white !important;
  font-size: 16px !important;
  cursor: pointer !important;
}

.cancel-autoplay {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: red;
}
